@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #191822;
}



.tfont {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tajawal {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
  border: 3px solid #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;   
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

#nav-icon3 {
  width: 25px;   /* العرض أصغر */
  height: 20px;  /* الطول أصغر */
  position: relative;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;       /* الخط رفيع */
  width: 100%;
  background: white;
  border-radius: 2px;
  left: 0;
  transition: all 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) { top: 0px; }
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) { top: 8px; }
#nav-icon3 span:nth-child(4) { top: 16px; }

/* حالة الفتح */
#nav-icon3.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open span:nth-child(2) { transform: rotate(45deg); }
#nav-icon3.open span:nth-child(3) { transform: rotate(-45deg); }
#nav-icon3.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}



@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}